html {
    text-align: center;
    color: #FFFFFF;
}
#home {
    background-image: url("assets/Desktop\ Background\ 1920x1200.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 274px;
    padding-bottom: 256px;
}
#about{
    background-color: #EEEEEE;
    padding-top: 87px;
    padding-bottom: 98px;
}
#projects {
    background-image: url("assets/Second\ Background.png") ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 84px;
    padding-bottom: 90px;   
}
footer {
    background-color: #464547;
    padding-top: 19px;
    padding-bottom: 30px;
    padding-left: 140px;
    text-align: start;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 48px;   
}
h2, h3, p{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
}
h2{  
    font-size: 24px;
}
h3{
    font-size: 18px;
    letter-spacing: 0.2em;
    margin: 0px;
    float: inline-end;
}
p{ 
    font-size: 16px;
}

#home h1{
    margin-top: 13px;
    margin-bottom: 21px;
}
#home h2{
    opacity: 0.7;
    margin-top: 21px;
    margin-bottom: 0px;
}


#about h1{
    color: #464547;
    margin-top: 87px;
    margin-bottom: 20px;
}
#about h2{
    color:#666666;
    margin-top: 20px;
    margin-bottom: 24px;
}
#about p{
    color:#000000;
    margin-top: 24px;
    margin-bottom: 21px;
}
#button-read{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    background-color:#55C2D8;
    border-radius: 18px;  
    padding: 5px 17px 6px 18px;
    margin-top: 21px;
}

#projects h1{
    margin-bottom: 26.5px;
}
#button-play{
    background-color: #39C2D7;
    border-radius: 100%;  
    padding: 32.5px 39.8666px 32.5px 55px;
    font-size: 64px;
    margin-top: 26.5px;
    margin-bottom: 35px;
}
#projects h2{
    margin-top: 35px;
    margin-bottom: 90px;
}

#footer-logo{
    width: 128px;
    height: 20px;
}
footer p, footer p a{
    color: #FFFFFF;
    opacity: 0.4;
    text-decoration: none;
}

section button{
    cursor: pointer;
    border-style: hidden;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
}