body{
    margin: 0px;
}
header, section{
    text-align: center;
    margin: 0px;
}
header, .section_3, footer, button{
    color: #FFFFFF;
}
header h2{
    opacity: 0.7;
}
.section_2 h2{
    color:#464547;
}
.section_2 h3{
    color:#666666;
}
.section_2 p{
    color:#000000;
}
h1, .section_2 h2, .section_3 h2{
    font-family: 'Oswald';
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
}
section button{
    font-family: 'Oswald';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
}
header h2, .section_2 h3, p, .section_3 h3, footer{
    font-family: 'Source Sans Pro';
    font-weight: 400;
}
header h2, .section_2 h3, .section_3 h3{
    font-size: 24px;
    line-height: 32px;
}
.section_2 p{
    font-size: 16px;
    line-height: 22px;
}
footer span{
    font-size: 18px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
footer p{
    font-size: 16px;
    line-height: 19px;
    opacity: 0.4;
}
footer p i, footer p a{
    font-style: normal;
    text-decoration: none;
    color: #FFFFFF;
}
section button{
    cursor: pointer;
    border-style: hidden;
}

header{
    background-image: url("../assets/Desktop\ Background\ 1920x1200.png") ;
    background-repeat: no-repeat;
    background-size: 100% 822px;
    padding-top: 274px;
    padding-bottom: 256px;
}
header h1 {
    margin: 13px auto 42px;
    width: 386px;
    height: 118px;
}
header h2{
    margin: 42px auto 0px;
    width: 426px;
    height: 56px;
}
.section_2{
    background-color: #EEEEEE;
    padding-top: 87px;
    padding-bottom: 98px;
}
.section_2 h2 {
    margin: 0px auto 40px;
    width: 669px;
    height: 119px;
}
.section_2 h3 {
    margin: 40px auto 48px;
    width: 426px;
    height: 57px;
}
.section_2 button{
    margin: 21px auto 0px;
    background-color:#55C2D8;
    border-radius: 18px;
    padding: 5px 17px 6px 18px;

}
.section_3{
    background-image: url("../assets/Second\ Background.png") ;
    background-repeat: no-repeat;
    background-size: 100% 666px;
    padding-top: 84px;
    padding-bottom: 90px;
}
.section_3 h2{
    margin: 0px auto 53px;
    width: 480px;
    height: 117px;
}
.section_3 button{
    background-color: #39C2D7;
    border-radius: 100%;
    padding: 62px 44.5px 62px 50.5px;
    font-size: 64px;
}
.section_3 h3{
    margin: 70px auto 0px;
    width: 390px;
    height: 102px;
}
footer{
    background-color: #464547;
    padding-top: 19px;
    padding-bottom: 38px;
    padding-left: 140px;
}
footer span{
    margin-left: 16px;
    float: inline;
}
footer p{
    margin: 0px;
    width: 243px;
}
#direction{
    margin-top: 14px;
    margin-bottom: 0px;
}
